/Home-On-Road/web/nbproject/private/
/Home-On-Road/dist/
/Motel-Management/web/assets/sass/
/Motel-Management/build/
/Motel-Management/nbbuild/
/Motel-Management/dist/
/Motel-Management/nbdist/

# End of https://www.toptal.com/developers/gitignore/api/netbeans
