* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: "Roboto", sans-serif;
    font-size: $fs-0;
    line-height: $lh-0;
    color: $color-blue-2;
    background-color: $color-white-0;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
