// INFOR
.infor {
    #carouselBanner {
        .carousel-control-prev,
        .carousel-control-next {
            i {
                color: $color-black-0;
                font-size: $fs-4;
            }
        }
    }
    .infor__content {
        img {
            @include size(65px, 65px);
            border-radius: 50%;
        }
        .content {
            margin: 0 $mg-4;
            h4 {
                font-size: $fs-1;
            }
        }
    }
}
// MOTEL
.motel {
    padding-top: 0;
    .heading {
        color: $color-blue-2;
        font-weight: 700;
        margin-bottom: $mg-3;
    }
    .motel__content {
        i{
            font-size: $fs-3;
        }
        p{
            font-size: $fs-3 - 2;
            margin: 0;
            padding: 10px 0;

        }
        
    }
}
