.background {
    color: $color-white-1;
    .container {
        color: $color-white-0;
        .login {
            margin-top: $mg-5;
            padding-top: $pd-3 + 20px;
            padding-bottom: $pd-4;
            border-radius: $border-radius-1;
            background-color: $color-blue-2;
            box-shadow: 10px 10px 20px $color-blue-2;
            img {
                max-width: 150px;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            h4 {
                font-size: 2rem;
            }
        }
        .form {
            a {
                color: $color-white-0;
            }
            button {
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
                display: block;
                &:hover {
                    background-color: $color-blue-2;
                    color: $color-white-0;
                    border-color: $color-white-0;
                }
            }
            .btn-signup {
                &:hover {
                    background-color: $color-primary-3;
                }
            }
        }
        .input-field {
            margin-top: 0;
        }
        .input-field > label {
            font-size: 1.1rem !important;
        }
        .form-item {
            padding: 0;

            label {
                color: $color-white-1;
            }
            input {
                color: $color-white-1;
            }
        }
        .signup {
            color: $color-blue-3;
        }
        .button-select {
            .active {
                background-color: $color-primary-3;
            }
            .btn {
                &:hover {
                    color: $color-white-1;
                }
            }
        }
        button.login-gg {
            display: flex;
            margin: auto;
            padding: 10px;
            border: 1px solid transparent;
            border-radius: 2px;
            background: $color-white-1;
            transition: all 0.5s;
            a {
                text-decoration: none;
                color: $color-blue-2;
                img {
                    display: inline-block;
                    padding-right: 5px;
                }
            }
            &:hover {
                background: $color-blue-1;
            }
        }
    }
}
