.content {
    margin: 20px 0;
    .content__item {
        img {
            width: 825px;
            min-height: 400px;
        }
    }
    .content__feedback {
        h2 {
            text-transform: uppercase;
            font-size: $fs-1 + 2;
            text-align: center;
        }
        textarea {
            resize: none;
            width: 100%;
            height: 100px;
            padding: $pd-2 $pd-0;
            border-radius: $border-radius-1;
            border: 1px solid rgba(77, 77, 77, 0.5);
            &:focus {
                outline: none;
            }
        }
        .box-name {
            textarea {
                height: 36px;
            }
        }
    }
    .box-rate {
        display: flex;
        vertical-align: middle;
        .stars {
            width: 185px;
            display: inline-block;
            input.star {
                display: none;
                &:checked ~ label.star {
                    &::before {
                        content: "\f005";
                        color: #fd4;
                        transition: all 0.25s;
                    }
                }
            }
        }

        input.star-5 {
            &:checked ~ label.star {
                &::before {
                    color: #fe7;
                    text-shadow: 0 0 10px rgb(138, 76, 10);
                }
            }
        }

        input.star-1 {
            &:checked ~ label.star {
                &::before {
                    color: #f62;
                }
            }
        }

        label.star {
            float: right;
            padding: 0 10px;
            font-size: $fs-0;
            color: #444;
            transition: all 0.2s;
            &::before {
                content: "\f005";
                font-family: FontAwesome;
            }
        }
    }
    .rating-carousel {
        margin-right: 10px;
        .customer-rating {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 8px;
            img {
                border-radius: 50%;
                width: 70px;
                height: 70px;
            }
            h6 {
                margin-bottom: 5px;
            }
        }
        .item-rating {
            position: relative;
            height: 200px;
            border: 1px solid #00ba8fbf;
            padding: 20px;
            margin: 30px 20px;
            border-radius: 10px;
            box-shadow: 2px 2px 4px 1px #e8e5e5;
            .name-customer {
                position: absolute;
                background-color: $color-primary-1;
                color: $color-white-1;
                padding: 10px;
                border-radius: 10px;
                top: -2px;
                left: -15px;
                box-shadow: 2px 2px 4px 1px #e8e5e5;
            }
            img {
                position: absolute;
                top: -30px;
                right: 30px;
                box-shadow: 2px 2px 4px 1px #e8e5e5;
            }
            .cmt-box {
                padding-top: 30px;
            }
            i {
                color: #fd4;
            }
            p.cmt-customer {
                margin: 0;
            }
        }
    }
    .widgets {
        position: relative;
        .content-booking {
            position: absolute;
            top: 0;
            left: 15px;
            right: 0;
            background: rgba(255, 255, 255, 0.9);
            z-index: 2;
            // display: none;
        }
        .content-booking-1 {
            position: absolute;
            top: 0;
            left: 15px;
            z-index: 1;
        }
        .content-contact {
            position: absolute;
            top: 262px;
            left: 15px;
            right: 0;
        }
    }
    .content-booking,
    .content-booking-1 {
        height: 252px;
    }
}

.booking {
    .table .thead-dark {
        background-color: $color-blue-2;
    }
    .booking__table {
        tr {
            &:first-child {
                border: 1px solid $color-blue-2;
            }
        }
        .room-number {
            width: 110px;
        }
        .hour {
            width: 90px;
        }
        .price,
        .total-price {
            width: 160px;
        }

        .total-price-box {
            padding: 0;
            margin-left: -1px;
            margin-bottom: 1rem;
            .table {
                height: 100%;
            }
        }
    }
    .empty-room {
        display: inline-block;
        margin-bottom: 18px;
        margin-left: 10px;
    }
    .img-room {
        img {
            width: 250px;
            height: auto;
            margin-bottom: 10px;
        }
    }
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin: 0;
}

.PhongDoi,
.PhongDon {
    .custom-select {
        background: url("") no-repeat right 0.75rem center/8px 10px;
        transition: 0.5s;
        &:hover {
            background: url("../../assets/img/chevron-down-regular.png") no-repeat right 0.75rem center/8px 10px;
            background-size: 30%;
        }
    }
}
.thead-dark {
    th {
        background-color: $color-blue-2 !important;
        border-color: $color-blue-2;
    }
}

.room-type-title {
    font-weight: bold;
}

.box-booking {
    position: relative;

    .btn-booking-before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.9);
        z-index: 2;
    }
    .btn-booking {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}
.hot-label {
    width: 50px;
}
.empty-room {
    font-size: 15px;
    background: -webkit-linear-gradient(rgb(237, 2, 2), rgb(170, 2, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heading {
    font-weight: bold;
}
