.content__list-room {
    min-height: 1367.5px;
}
.content__filter {
    .custom-select {
        background: url(../../assets/img/down-arrow-solid.png) no-repeat right 0.75rem center/8px 10px;
        background-size: 15px;
        background-color: #edebeb75;
        border-color: transparent;
        color: $color-blue-2;
        border-radius: 10px;
        &:focus {
            border-color: transparent;
            box-shadow: none;
            outline: none;
        }
    }
}

.content__list {
    .item {
        margin-bottom: $mg-2;
        margin-left: $mg-2;
        padding: $pd-1;
        border: 1px solid $color-red-0;
        border-radius: $border-radius-1;
        box-shadow: 1px 1px 5px $color-red-0;
        background-color: $color-white-0;
        display: table;
        .motel-image {
            display: block;
            border-radius: $border-radius-1;
            overflow: hidden;
        }
    }
}

.pagination {
    @extend %paginationDisplay;
    gap: 16px;
    margin-top: $mg-2;
    .btn {
        background-color: $color-white-0;
        color: $color-blue-2;

        border: 1px solid $color-blue-2;
        @include size(40px, 40px);
        border-radius: 50% !important;
        cursor: pointer;
        @extend %paginationDisplay;
        &:hover {
            background-color: $color-blue-2;
            color: $color-white-0;
        }
    }
    .pages {
        display: flex;
        flex-direction: row;
        gap: 20px;
        .page-link {
            @include size(40px, 40px);
            color: $color-blue-2;
            border-radius: 50%;
            // border: 1px solid $color-blue-2;
            cursor: pointer;
            @extend %paginationDisplay;
            gap: 10px;
            &:hover {
                background-color: $color-blue-2;
                color: $color-white-0;
            }
        }
    }
    .page-link {
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .active {
        .page-link {
            background-color: $color-blue-2;
            color: $color-white-0;
            border-color: $color-blue-2;
        }
    }

    .disabled {
        .btn {
            border-color: #ccc;
        }
    }
}

.col-bg {
    display: grid;
    row-gap: 50px;
    margin-top: 10px;
    .bg-1 {
        background: url(../../assets/img/background-motel.jpg);
    }
    .bg-2 {
        background: url(../../assets/img/background.jpg);
    }
    .bg-1,
    .bg-2 {
        width: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        height: 525px;
        border-radius: 10px;
        border: 1px solid #edebeb75;
    }
}
