.content__list {
    .item {
        margin-bottom: $mg-2;
        margin-left: $mg-2;
        padding: $pd-1;
        border: 1px solid $color-red-0;
        border-radius: $border-radius-1;
        box-shadow: 1px 1px 5px $color-red-0;
        background-color: $color-white-0;
        display: table;
        .motel-image {
            display: block;
            border-radius: $border-radius-1;
            overflow: hidden;
        }
    }
    .pagination {
        @extend %paginationDisplay;
        gap: 16px;
        margin-top: $mg-2;
        .btn {
            background-color: $color-white-0;
            border: 1px solid $color-blue-2;
            @include size(40px, 40px);
            border-radius: 50%;
            cursor: pointer;
            @extend %paginationDisplay;
            &:hover {
                background-color: $color-blue-2;
                color: $color-white-0;
            }
        }
        .pages {
            display: flex;
            flex-direction: row;
            gap: 20px;
            .page {
                @include size(40px, 40px);
                border-radius: 50%;
                cursor: pointer;
                @extend %paginationDisplay;
                gap: 10px;
                &:hover {
                    background-color: $color-blue-2;
                    color: $color-white-0;
                }
            }
        }
        .active {
            background-color: $color-blue-2;
            color: $color-white-0;
        }
    }

}
