.booking {
    .heading {
        // color: $color-blue-1;
        margin-bottom: $mg-6 - 10;
    }
    .desc-service {
        padding-left: 40px;
    }
}

.booking__table {
    .table td {
        border: 1px solid #dee2e6;
    }
    .inputDate,
    .inputHour {
        border: 1px solid #ced4da;
        display: inline-block;
        width: 100%;
        input {
            width: 100%;
            border: none;
            padding: 6px 12px;
        }
        border-radius: 0.25rem;
    }
    .hour {
        width: 105px;
    }
}
