.dashboard {
    position: relative;
    background: #fff;
    box-shadow: 0 7px 25px rgb(26 37 30 / 50%);
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    border: 1px #000;
}
table.dataTable thead>tr>th.sorting{
    padding-right: 0px;
}
.admin a:hover{
 color: brown;
 background: transparent;
}
.admin img{
    height: 30px;
    width: 40px;
}
.admin .dropdown-menu{
    padding: 0.5rem 1.5rem;;
    line-height: 1.5;
}