.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.content__list .pagination, .content__list .pagination .btn, .content__list .pagination .pages .page {
  display: flex;
  align-items: center;
  justify-content: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2c3e50;
  background-color: #fff; }

.room-item {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 15px;
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #b0b0b0;
  background-color: #fff;
  display: table;
  transform: translateY(0);
  transition: .5s; }
  .room-item .motel-title {
    padding-top: 10px; }
    .room-item .motel-title a {
      color: #00ccb8;
      transition: all .5s; }
      .room-item .motel-title a:hover {
        color: #ffadd9; }
  .room-item .motel-image {
    display: block;
    border-radius: 10px;
    overflow: hidden; }
  .room-item .motel-price {
    font-size: 14px; }
  .room-item:hover {
    transform: translateY(-10px);
    box-shadow: 1px 1px 15px #b0b0b0; }

.spacing {
  padding: 50px 0; }

body .lb-data .lb-close {
  background: url(../../vendor/lightbox/imges/close.png); }
body .lb-nav a.lb-prev {
  background: url(../../vendor/lightbox/imges/prev.png) left 48% no-repeat; }
body .lb-nav a.lb-next {
  background: url(../../vendor/lightbox/imges/next.png) right 48% no-repeat; }
body .lb-cancel {
  background: url(../../vendor/lightbox/imges/loading.gif) no-repeat; }

.header__top {
  background-color: #2c3e50;
  font-size: 14px;
  height: 45px; }
  .header__top .header__left a:first-of-type,
  .header__top .header__left a:nth-of-type(2) {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin-right: 0.25rem;
    color: #2c3e50;
    transition: all 0.5s; }
    .header__top .header__left a:first-of-type:hover,
    .header__top .header__left a:nth-of-type(2):hover {
      background-color: #1DA1F2; }
  .header__top .header__left a:last-of-type,
  .header__top .header__left a:nth-of-type(3) {
    display: inline-block;
    padding: 0 18px;
    border-left: 1px solid #b0b0b0;
    color: #f0f0f0;
    transition: all 0.5s; }
    .header__top .header__left a:last-of-type:hover,
    .header__top .header__left a:nth-of-type(3):hover {
      color: #00ecd5; }
  .header__top .header__right {
    display: flex;
    align-items: center; }
    .header__top .header__right .button--primary {
      margin-right: 15px; }
    .header__top .header__right a {
      color: #f0f0f0;
      text-decoration: none; }
    .header__top .header__right > a {
      padding: 0 18px;
      border-left: 1px solid #b0b0b0;
      transition: all 0.5s; }
      .header__top .header__right > a:hover {
        color: #00ecd5; }
    .header__top .header__right .btn-user-dropdown {
      font-size: 14px;
      transition: all 0.5s;
      padding-left: 0; }
      .header__top .header__right .btn-user-dropdown span:nth-of-type(1) {
        padding-left: 15px;
        border-left: 1px solid #b0b0b0;
        transition: 0.5s; }
      .header__top .header__right .btn-user-dropdown:hover span {
        color: #00ecd5; }
      .header__top .header__right .btn-user-dropdown:focus {
        outline: none;
        box-shadow: none; }
    .header__top .header__right #profile-pic {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%; }
    .header__top .header__right .dropdown-menu {
      right: 0;
      top: -3px !important;
      background-color: #2c3e50; }
      .header__top .header__right .dropdown-menu > a {
        text-align: right;
        color: #f0f0f0;
        transition: all 0.5s;
        font-size: 14px; }
        .header__top .header__right .dropdown-menu > a:hover {
          background-color: transparent;
          color: #00ecd5; }

.header__bottom {
  padding-top: 45px; }
  .header__bottom .myNavBar {
    padding: 0 2.5rem; }
    .header__bottom .myNavBar .logo {
      width: 150px;
      height: auto; }
    .header__bottom .myNavBar .nav-item a {
      display: block;
      padding: 25px;
      font-weight: 700;
      color: #2c3e50;
      transition: 0.5s;
      text-transform: uppercase; }
      .header__bottom .myNavBar .nav-item a:hover {
        color: #00ecd5; }
  .header__bottom .header__bottom__right .header__bottom--search {
    width: 100%; }
  .header__bottom .header__bottom__right .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00ccb8;
    border-left: none;
    background: #00ccb8;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px; }
    .header__bottom .header__bottom__right .searchButton:focus {
      outline: none; }

.header__breadcrumb .breadcrumb {
  background-color: #fff; }

footer {
  background-color: #2c3e50;
  color: #f0f0f0; }
  footer .section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px; }
    footer .section h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 30px;
      position: relative; }
      footer .section h3::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100px;
        border-bottom: 1px solid #ccc; }
    footer .section li {
      list-style-type: none;
      height: 30px; }
      footer .section li a {
        text-decoration: none;
        color: #f0f0f0;
        transition: 0.5s; }
        footer .section li a:hover {
          color: #00ecd5; }
        footer .section li a i {
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center; }
    footer .section .footer-contact li:first-of-type a:hover,
    footer .section .footer-contact li:nth-of-type(2) a:hover {
      color: #1DA1F2; }
    footer .section .footer-contact li:nth-of-type(3) a:hover {
      color: #fa5636; }
  footer .footer__copyright p {
    margin: 0; }

.button--primary {
  color: #fff;
  background-color: #00ccb8;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s; }
  .button--primary:hover {
    color: #fff;
    background-color: #00ecd5;
    border: 1px solid transparent; }
  .button--primary:focus {
    outline: none; }

.background {
  background-image: url(../img/bgd.jpg);
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden; }

.select-box {
  display: flex;
  width: 300px;
  flex-direction: column;
  position: relative; }
  .select-box .selected {
    padding: 0 24px;
    background: #f0f0f0;
    height: 36px;
    line-height: 36px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #2c3e50;
    order: 0; }
    .select-box .selected p {
      margin: 0; }

.select-box .options-container {
  position: absolute;
  top: 0;
  background: #f0f0f0;
  color: #2c3e50;
  height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 8px;
  overflow: hidden;
  z-index: 19;
  order: 1; }

.select-box .options-container.active {
  position: absolute;
  transform: translateY(45px);
  height: 240px;
  opacity: 1;
  overflow-y: scroll; }

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #f0f0f0;
  border-radius: 0 8px 8px 0; }

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0; }

.select-box .option,
.selected {
  transition: all 0.5s;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer; }

.select-box .option:hover {
  color: #00ccb8; }

.select-box label {
  cursor: pointer; }

.select-box .option .radio {
  display: none; }

.infor #carouselBanner .carousel-control-prev i,
.infor #carouselBanner .carousel-control-next i {
  color: #000;
  font-size: 40px; }
.infor .infor__content img {
  width: 65px;
  height: 65px;
  border-radius: 50%; }
.infor .infor__content .content {
  margin: 0 10px; }
  .infor .infor__content .content h4 {
    font-size: 18px; }

.motel {
  padding-top: 0; }
  .motel .heading {
    color: #2c3e50;
    font-weight: 700;
    margin-bottom: 15px; }
  .motel .motel__content i {
    font-size: 14px; }
  .motel .motel__content p {
    font-size: 12px;
    margin: 0;
    padding: 10px 0; }

.content {
  margin: 20px 0; }
  .content .content__feedback h2 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center; }
  .content .content__feedback textarea {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(77, 77, 77, 0.5); }
    .content .content__feedback textarea:focus {
      outline: none; }
  .content .content__feedback .box-name textarea {
    height: 36px; }
  .content .box-rate {
    display: flex;
    vertical-align: middle; }
    .content .box-rate .stars {
      width: 185px;
      display: inline-block; }
      .content .box-rate .stars input.star {
        display: none; }
        .content .box-rate .stars input.star:checked ~ label.star::before {
          content: "\f005";
          color: #fd4;
          transition: all 0.25s; }
      .content .box-rate .stars input.star-5:checked ~ label.star::before {
        color: #fe7;
        text-shadow: 0 0 10px #8a4c0a; }
      .content .box-rate .stars input.star-1:checked ~ label.star::before {
        color: #f62; }
      .content .box-rate .stars label.star {
        float: right;
        padding: 0 10px;
        font-size: 16px;
        color: #444;
        transition: all 0.2s; }
        .content .box-rate .stars label.star::before {
          content: "\f005";
          font-family: FontAwesome; }
  .content .rating-carousel {
    margin-right: 10px; }
    .content .rating-carousel .customer-rating {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 8px; }
      .content .rating-carousel .customer-rating img {
        border-radius: 50%;
        width: 70px;
        height: 70px; }
      .content .rating-carousel .customer-rating h6 {
        margin-bottom: 5px; }
    .content .rating-carousel .item-rating {
      position: relative;
      height: 200px;
      border: 1px solid #00ba8fbf;
      padding: 20px;
      margin: 30px 20px;
      border-radius: 10px;
      box-shadow: 2px 2px 4px 1px #e8e5e5; }
      .content .rating-carousel .item-rating .name-customer {
        position: absolute;
        background-color: #00ccb8;
        color: #f0f0f0;
        padding: 10px;
        border-radius: 10px;
        top: -2px;
        left: -15px;
        box-shadow: 2px 2px 4px 1px #e8e5e5; }
      .content .rating-carousel .item-rating img {
        position: absolute;
        top: -30px;
        right: 30px;
        box-shadow: 2px 2px 4px 1px #e8e5e5; }
      .content .rating-carousel .item-rating .cmt-box {
        padding-top: 30px; }
      .content .rating-carousel .item-rating i {
        color: #fd4; }
      .content .rating-carousel .item-rating p.cmt-customer {
        margin: 0; }
  .content .widgets {
    position: relative; }
    .content .widgets .content-booking {
      position: absolute;
      top: 0;
      left: 15px;
      right: 0;
      background: rgba(255, 255, 255, 0.9);
      z-index: 2; }
    .content .widgets .content-booking-1 {
      position: absolute;
      top: 0;
      left: 15px;
      z-index: 1; }
    .content .widgets .content-contact {
      position: absolute;
      top: 262px;
      left: 15px;
      right: 0; }
  .content .content-booking,
  .content .content-booking-1 {
    height: 252px; }

.booking .table {
  border: 1px solid #dee2e6; }
.booking .table .thead-dark {
  background-color: #2c3e50; }
.booking .booking__table .room-number {
  width: 105px; }
.booking .booking__table .hour {
  width: 83px; }
.booking .booking__table .price,
.booking .booking__table .total-price,
.booking .booking__table .total-price-1 {
  width: 150px; }
.booking .img-room img {
  width: 150px;
  height: auto;
  margin-right: 10px; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin: 0; }

.PhongDoi .custom-select,
.PhongDon .custom-select {
  background: url("") no-repeat right 0.75rem center/8px 10px;
  transition: 0.5s; }
  .PhongDoi .custom-select:hover,
  .PhongDon .custom-select:hover {
    background: url("../../assets/img/chevron-down-regular.png") no-repeat right 0.75rem center/8px 10px;
    background-size: 30%; }

.thead-dark th {
  background-color: #2c3e50 !important;
  border-color: #2c3e50; }

.room-type-title {
  font-weight: bold; }

.box-booking {
  position: relative; }
  .box-booking .btn-booking-before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    z-index: 2; }
  .box-booking .btn-booking {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; }

.hot-label {
  width: 50px; }

.empty-room {
  font-size: 15px;
  background: -webkit-linear-gradient(#ed0202, #aa0202);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.heading {
  font-weight: bold; }

.background {
  color: #f0f0f0; }
  .background .container {
    color: #fff; }
    .background .container .login {
      margin-top: 50px;
      padding-top: 40px;
      padding-bottom: 50px;
      border-radius: 10px;
      background-color: #2c3e50;
      box-shadow: 10px 10px 20px #2c3e50; }
      .background .container .login img {
        max-width: 150px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block; }
    .background .container .form a {
      color: #fff; }
    .background .container .form button {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      display: block; }
      .background .container .form button:hover {
        background-color: #2c3e50;
        color: #fff;
        border-color: #fff; }
    .background .container .form .btn-signup:hover {
      background-color: #ffadd9; }
    .background .container .input-field {
      margin-top: 0; }
    .background .container .form-item {
      padding: 0; }
      .background .container .form-item label {
        color: #f0f0f0; }
      .background .container .form-item input {
        color: #f0f0f0; }
    .background .container .signup {
      color: #1DA1F2; }
    .background .container .button-select .active {
      background-color: #ffadd9; }
    .background .container .button-select .btn:hover {
      color: #f0f0f0; }

.content__list .item {
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 15px;
  border: 1px solid #b0b0b0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #b0b0b0;
  background-color: #fff;
  display: table; }
  .content__list .item .motel-image {
    display: block;
    border-radius: 10px;
    overflow: hidden; }
.content__list .pagination {
  gap: 16px;
  margin-top: 20px; }
  .content__list .pagination .btn {
    background-color: #fff;
    border: 1px solid #2c3e50;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer; }
    .content__list .pagination .btn:hover {
      background-color: #2c3e50;
      color: #fff; }
  .content__list .pagination .pages {
    display: flex;
    flex-direction: row;
    gap: 20px; }
    .content__list .pagination .pages .page {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      gap: 10px; }
      .content__list .pagination .pages .page:hover {
        background-color: #2c3e50;
        color: #fff; }
  .content__list .pagination .active {
    background-color: #2c3e50;
    color: #fff; }

.booking .heading {
  margin-bottom: 20px; }
.booking .desc-service {
  padding-left: 40px; }

.booking__table .table td {
  border: 1px solid #dee2e6; }
.booking__table .inputDate,
.booking__table .inputHour {
  border: 1px solid #ced4da;
  display: inline-block;
  width: 100%;
  border-radius: 0.25rem; }
  .booking__table .inputDate input,
  .booking__table .inputHour input {
    width: 100%;
    border: none;
    padding: 6px 12px; }
.booking__table .hour {
  width: 105px; }

/*# sourceMappingURL=main.css.map */
